body {
    background-color: rgb(153, 161, 161);
    /*the background should changed then button is pushed
    background-image: url(./image/a-red-orange-column-of-smoke-in-darkness.jpg);
    background-repeat: repeat;
    background-size: cover;

}


.box {
    padding: 15em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 5em;
}

button {
    height: 90px;
    width: 90px;
    color: rgb(219, 33, 33);
    text-transform: uppercase;
    font-weight: 900;
    background-color: rgb(23, 27, 35);
    border-radius: 360em;
    box-shadow: 4px 3px 2px rgba(94, 107, 107, 0.876);
}