// custom variables
$primary: #c29938;
$secondary: rgb(25, 7, 30);

.btn-secondary {
  margin: 0.3em;
  min-width: 13em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

// import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';

